@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #2d2e34;
  outline: 1px solid #28292f;
}

::-webkit-scrollbar-thumb {
  background: rgb(63, 63, 70);
  outline: 1px solid #28292f;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: #28292f;
  outline: 1px solid #2d2e34;
}

.scroll::-webkit-scrollbar-thumb {
  background: rgb(63, 63, 70);
  outline: 1px solid #2d2e34;
}

:root {
  --background: #1f1f21;
  --dark: #28292F;
  --lightblue: #55B8E1;
  --blue: #3C4EF0;
  --green: #63CF30;
  --red: #FC2F2F;
  --cyan: #30C6CF;
  --white: white;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.background {
  background-color: var(--background);
}

.dark {
  background-color: var(--dark);
}